* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: black;
}

.container {
    container-type: inline-size;
}

.main-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3cqi;
    container-type: inline-size;
    width: max(90%, 300px);
    margin: auto;
}

.box {
    border-radius: 20px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.185);
    padding: 2rem;
}

.box h1 {
    font-size: 5cqi;
    color: rgb(26, 26, 26);
    margin-bottom: 20px;
}

.box p {
    font-size: 2.5cqi;
    color: rgb(26, 26, 26);
    margin-bottom: 20px;
}

.box button {
    font-size: 3cqi;
    color: rgb(26, 26, 26);
    margin-bottom: 20px;
    border-radius: 10px;
    padding: 10px 20px;
    background: lime;
    color: white;
    font-weight: 600;
    border: none;
}

.new-box {
    border: 1px solid grey;
    padding: 1rem;
    max-width: 1000px;
    margin: auto;
    margin-top: 10rem;
    margin-bottom: 10rem;
    border-radius: 10px;
    container-type: inline-size;
    container-name: new-conbox;
}


@container (inline-size <=700px) {
    .main-container {
        grid-template-columns: 1fr;
    }
}
@container new-conbox (width <= 800px) {
    .new-box p{
        border: 3px solid rgb(255, 0, 0);
    }
}